h1, h2 {
	color: black;
	font-family: arial;
}

.worker_buy {
	background-color: #CCCCCC;
	color: black;
	font-family: arial;
	padding: 15px 32px;
	font-size: 16px;
	position: absolute;
	border: 3px solid #555555;
	width: 200px;
	right: 30px;
}

.interface_worker {
	font-family: arial;
	font-size: 16px;
	position: absolute;
	left: 30px;
}

.interface_navigation {
	background-color: #CCCCCC;
	padding: 8px 32px;
	color: black;
}

.interface_upgrades {
	font-family: arial;
	font-size: 16px;
	position: absolute;
	left: 30px;
}

.upgrades_workers_tier1 {
	font-family: arial;
	font-size: 16px;
	position: absolute;
	left: 300px;
	padding: 15px 32px;
	background-color: #CCCCCC;
	border: 3px soild #555555;
	
};
	